VUE_APP_COGNITO_USER_POOL_ID=us-east-1_REPLACE_ME
VUE_APP_COGNITO_CLIENT_ID=REPLACE_ME
VUE_APP_API_BASE_URL=https://REPLACE_ME.execute-api.us-east-1.amazonaws.com/prod
VUE_APP_CLOUDFRONT_URL=https://patmacscopperworks.com
